In [26]:
import numpy as np
import pandas as pd

crime_raw_data = pd.read_csv('../data/Crime_data.csv', encoding='euc-kr')
# crime_raw_data.head()

# crime_raw_data.info()

# crime_raw_data['죄종'].unique()

# crime_raw_data['죄종'].isnull()
# crime_raw_data[crime_raw_data['죄종'].isnull()]

# crime_raw_data = crime_raw_data[crime_raw_data['죄종'].notnull()]
# crime_raw_data.info()

crime_station = crime_raw_data.pivot_table(
    crime_raw_data, index=["구분"], columns=["죄종","발생검거"], 
    aggfunc=[np.sum])

crime_station.columns = crime_station.columns.droplevel([0,1])

# crime_station['강도', '검거']

# crime_station.head()

tmp = crime_station.columns.get_level_values(0) + crime_station.columns.get_level_values(1)

crime_station.columns = tmp
crime_station.head()

     강간검거   강간발생  강도검거  강도발생  살인검거  살인발생    절도검거    절도발생    폭력검거    폭력발생
구분
강남  269.0  339.0  26.0  24.0   3.0   3.0  1129.0  2438.0  2096.0  2336.0
강동  152.0  160.0  13.0  14.0   5.0   4.0   902.0  1754.0  2201.0  2530.0
강북  159.0  217.0   4.0   5.0   6.0   7.0   672.0  1222.0  2482.0  2778.0
강서  239.0  275.0  10.0  10.0  10.0   9.0  1070.0  1952.0  2768.0  3204.0
관악  264.0  322.0  10.0  12.0   7.0   6.0   937.0  2103.0  2707.0  3235.0