In [26]:
import numpy as np
import pandas as pd

crime_raw_data = pd.read_csv('../data/Crime_data.csv', encoding='euc-kr')

     강간검거   강간발생  강도검거  강도발생  살인검거  살인발생    절도검거    절도발생    폭력검거    폭력발생
구분
강남  269.0  339.0  26.0  24.0   3.0   3.0  1129.0  2438.0  2096.0  2336.0
강동  152.0  160.0  13.0  14.0   5.0   4.0   902.0  1754.0  2201.0  2530.0
강북  159.0  217.0   4.0   5.0   6.0   7.0   672.0  1222.0  2482.0  2778.0
강서  239.0  275.0  10.0  10.0  10.0   9.0  1070.0  1952.0  2768.0  3204.0
관악  264.0  322.0  10.0  12.0   7.0   6.0   937.0  2103.0  2707.0  3235.0

In [27]:
crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

In [28]:
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 4 columns):
구분      310 non-null object
죄종      310 non-null object
발생검거    310 non-null object
건수      310 non-null float64
dtypes: float64(1), object(3)
memory usage: 2.0+ MB

In [29]:
crime_raw_data['죄종'].unique()

array(['살인', '강도', '강간', '절도', '폭력', nan], dtype=object)

In [31]:
crime_raw_data['죄종'].isnull()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
65504     True
65505     True
65506     True
65507     True
65508     True
65509     True
65510     True
65511     True
65512     True
65513     True
65514     True
65515     True
65516     True
65517     True
65518     True
65519     True
65520     True
65521     True
65522     True
65523     True
65524     True
65525     True
65526     True
65527     True
65528     True
65529     True
65530     True
65531     True
65532     True
65533     True
Name: 죄종, Length: 65534, dtype: bool

In [32]:
crime_raw_data[crime_raw_data['죄종'].isnull()]

        구분   죄종 발생검거  건수
310    NaN  NaN  NaN NaN
311    NaN  NaN  NaN NaN
312    NaN  NaN  NaN NaN
313    NaN  NaN  NaN NaN
314    NaN  NaN  NaN NaN
315    NaN  NaN  NaN NaN
316    NaN  NaN  NaN NaN
317    NaN  NaN  NaN NaN
318    NaN  NaN  NaN NaN
319    NaN  NaN  NaN NaN
320    NaN  NaN  NaN NaN
321    NaN  NaN  NaN NaN
322    NaN  NaN  NaN NaN
323    NaN  NaN  NaN NaN
324    NaN  NaN  NaN NaN
325    NaN  NaN  NaN NaN
326    NaN  NaN  NaN NaN
327    NaN  NaN  NaN NaN
328    NaN  NaN  NaN NaN
329    NaN  NaN  NaN NaN
330    NaN  NaN  NaN NaN
331    NaN  NaN  NaN NaN
332    NaN  NaN  NaN NaN
333    NaN  NaN  NaN NaN
334    NaN  NaN  NaN NaN
335    NaN  NaN  NaN NaN
336    NaN  NaN  NaN NaN
337    NaN  NaN  NaN NaN
338    NaN  NaN  NaN NaN
339    NaN  NaN  NaN NaN
...    ...  ...  ...  ..
65504  NaN  NaN  NaN NaN
65505  NaN  NaN  NaN NaN
65506  NaN  NaN  NaN NaN
65507  NaN  NaN  NaN NaN
65508  NaN  NaN  NaN NaN
65509  NaN  NaN  NaN NaN
65510  NaN  NaN  NaN NaN
65511  NaN  NaN  NaN NaN
65512  NaN  NaN  NaN NaN
65513  NaN  NaN  NaN NaN
65514  NaN  NaN  NaN NaN
65515  NaN  NaN  NaN NaN
65516  NaN  NaN  NaN NaN
65517  NaN  NaN  NaN NaN
65518  NaN  NaN  NaN NaN
65519  NaN  NaN  NaN NaN
65520  NaN  NaN  NaN NaN
65521  NaN  NaN  NaN NaN
65522  NaN  NaN  NaN NaN
65523  NaN  NaN  NaN NaN
65524  NaN  NaN  NaN NaN
65525  NaN  NaN  NaN NaN
65526  NaN  NaN  NaN NaN
65527  NaN  NaN  NaN NaN
65528  NaN  NaN  NaN NaN
65529  NaN  NaN  NaN NaN
65530  NaN  NaN  NaN NaN
65531  NaN  NaN  NaN NaN
65532  NaN  NaN  NaN NaN
65533  NaN  NaN  NaN NaN

[65224 rows x 4 columns]

In [33]:
crime_raw_data = crime_raw_data[crime_raw_data['죄종'].notnull()]
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 310 entries, 0 to 309
Data columns (total 4 columns):
구분      310 non-null object
죄종      310 non-null object
발생검거    310 non-null object
건수      310 non-null float64
dtypes: float64(1), object(3)
memory usage: 12.1+ KB

In [35]:
crime_station = crime_raw_data.pivot_table(
    crime_raw_data, index=["구분"], columns=["죄종","발생검거"], 
    aggfunc=[np.sum])

crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

In [36]:
crime_station.columns

MultiIndex(levels=[['sum'], ['건수'], ['강간', '강도', '살인', '절도', '폭력'], ['검거', '발생']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 1, 1, 2, 2, 3, 3, 4, 4], [0, 1, 0, 1, 0, 1, 0, 1, 0, 1]],
           names=[None, None, '죄종', '발생검거'])

In [38]:
crime_station.columns = crime_station.columns.droplevel([0,1])
crime_station.columns

ValueError: Must pass non-zero number of levels/labels

In [39]:
crime_station['강도', '검거']

구분
강남     26.0
강동     13.0
강북      4.0
강서     10.0
관악     10.0
광진      6.0
구로     13.0
금천      7.0
남대문     4.0
노원      9.0
도봉      5.0
동대문    12.0
동작      7.0
마포      7.0
방배      5.0
서대문     4.0
서부      2.0
서초      5.0
성동      5.0
성북      3.0
송파     12.0
수서     16.0
양천      7.0
영등포    14.0
용산     10.0
은평      5.0
종로      3.0
종암      5.0
중랑     14.0
중부      3.0
혜화      6.0
Name: (강도, 검거), dtype: float64

In [40]:
crime_station.head()

죄종       강간           강도          살인           절도              폭력
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0

In [42]:
tmp = crime_station.columns.get_level_values(0) + crime_station.columns.get_level_values(1)
crime_station.columns = tmp
crime_station.head()

     강간검거   강간발생  강도검거  강도발생  살인검거  살인발생    절도검거    절도발생    폭력검거    폭력발생
구분
강남  269.0  339.0  26.0  24.0   3.0   3.0  1129.0  2438.0  2096.0  2336.0
강동  152.0  160.0  13.0  14.0   5.0   4.0   902.0  1754.0  2201.0  2530.0
강북  159.0  217.0   4.0   5.0   6.0   7.0   672.0  1222.0  2482.0  2778.0
강서  239.0  275.0  10.0  10.0  10.0   9.0  1070.0  1952.0  2768.0  3204.0
관악  264.0  322.0  10.0  12.0   7.0   6.0   937.0  2103.0  2707.0  3235.0

In [43]:
police_station_pos = {
    '강남':'강남구', '강동':'강동구', '강서':'강서구', '관악':'관악구',
    '구로':'구로구', '남대문':'중구', '금천':'금천구', '동작':'동작구',
    '노원':'노원구', '도봉':'도봉구', '혜화':'종로구', '광진':'광진구',
    '마포':'마포구', '방배':'서초구', '강북':'강북구', '서부':'은평구',
    '서대문':'서대문구', '서초':'서초구', '성동':'성동구',
    '성북':'성북구', '송파':'송파구', '수서':'강남구', '양천':'양천구',
    '영등포':'영등포구', '용산':'용산구', '은평':'은평구', '종로':'종로구',
    '종암':'성북구', '중랑':'중랑구', '중부':'중구', '동대문':'동대문구'
}

In [44]:
police_station_pos.get('동대문')

'동대문구'

In [45]:
tmp = [police_station_pos.get(idx) for idx, row in crime_station.iterrows()]
tmp

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '중구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서초구',
 '서대문구',
 '은평구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '강남구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '성북구',
 '중랑구',
 '중구',
 '종로구']

In [46]:
crime_station['구'] = tmp
crime_station

,강간검거,강간발생,강도검거,강도발생,살인검거,살인발생,절도검거,절도발생,폭력검거,폭력발생,구
구분,,,,,,,,,,,
강남,269.0,339.0,26.0,24.0,3.0,3.0,1129.0,2438.0,2096.0,2336.0,강남구
강동,152.0,160.0,13.0,14.0,5.0,4.0,902.0,1754.0,2201.0,2530.0,강동구
강북,159.0,217.0,4.0,5.0,6.0,7.0,672.0,1222.0,2482.0,2778.0,강북구
강서,239.0,275.0,10.0,10.0,10.0,9.0,1070.0,1952.0,2768.0,3204.0,강서구
관악,264.0,322.0,10.0,12.0,7.0,6.0,937.0,2103.0,2707.0,3235.0,관악구
광진,234.0,279.0,6.0,11.0,4.0,4.0,1057.0,2636.0,2011.0,2392.0,광진구
구로,181.0,273.0,13.0,10.0,9.0,9.0,861.0,1910.0,2680.0,3164.0,구로구
금천,143.0,175.0,7.0,7.0,6.0,6.0,654.0,1264.0,1946.0,2193.0,금천구
남대문,52.0,57.0,4.0,5.0,1.0,1.0,429.0,946.0,832.0,890.0,중구
노원,142.0,159.0,9.0,6.0,6.0,5.0,740.0,1857.0,2124.0,2516.0,노원구
도봉,121.0,123.0,5.0,5.0,3.0,3.0,492.0,866.0,1309.0,1441.0,도봉구
동대문,158.0,190.0,12.0,10.0,5.0,5.0,1071.0,1940.0,2377.0,2642.0,동대문구
동작,149.0,325.0,7.0,7.0,6.0,8.0,554.0,1226.0,1444.0,1661.0,동작구
마포,320.0,399.0,7.0,4.0,4.0,4.0,940.0,2527.0,2500.0,2939.0,마포구
방배,51.0,78.0,5.0,4.0,1.0,1.0,293.0,472.0,446.0,500.0,서초구
서대문,147.0,175.0,4.0,5.0,7.0,6.0,752.0,1503.0,1644.0,1976.0,서대문구
서부,49.0,54.0,2.0,4.0,4.0,4.0,389.0,781.0,980.0,1128.0,은평구
서초,220.0,350.0,5.0,9.0,4.0,4.0,814.0,1733.0,1583.0,1838.0,서초구
성동,78.0,104.0,5.0,3.0,5.0,4.0,896.0,1296.0,1408.0,1619.0,성동구
성북,75.0,103.0,3.0,3.0,2.0,2.0,381.0,790.0,1004.0,1176.0,성북구
송파,184.0,234.0,12.0,15.0,8.0,9.0,1048.0,2543.0,2808.0,3289.0,송파구
수서,144.0,177.0,16.0,15.0,2.0,2.0,789.0,1149.0,1431.0,1666.0,강남구
양천,108.0,131.0,7.0,7.0,5.0,5.0,755.0,1719.0,1918.0,2250.0,양천구
영등포,225.0,356.0,14.0,19.0,13.0,13.0,940.0,2341.0,3007.0,3593.0,영등포구
용산,214.0,251.0,10.0,9.0,4.0,4.0,599.0,1489.0,2008.0,2384.0,용산구
은평,93.0,102.0,5.0,5.0,2.0,2.0,501.0,885.0,1328.0,1536.0,은평구
종로,113.0,137.0,3.0,6.0,0.0,4.0,389.0,952.0,1135.0,1291.0,종로구
종암,42.0,51.0,5.0,5.0,1.0,2.0,344.0,680.0,815.0,932.0,성북구
중랑,150.0,164.0,14.0,14.0,7.0,8.0,1052.0,1691.0,2712.0,3164.0,중랑구
중부,96.0,141.0,3.0,3.0,2.0,2.0,485.0,1204.0,1164.0,1335.0,중구
혜화,64.0,101.0,6.0,6.0,2.0,2.0,379.0,988.0,842.0,972.0,종로구

In [47]:
crime_station['구'].unique()

array(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '중구',
       '노원구', '도봉구', '동대문구', '동작구', '마포구', '서초구', '서대문구', '은평구', '성동구',
       '성북구', '송파구', '양천구', '영등포구', '용산구', '종로구', '중랑구'], dtype=object)

In [48]:
len(crime_station['구'].unique())

25

In [50]:
crime_station.to_csv('../data/crime_station.csv' , sep=',', encoding='UTF-8')

In [52]:
crime_gu = pd.pivot_table(crime_station, index='구', aggfunc=np.sum)
crime_gu

       강간검거   강간발생  강도검거  강도발생  살인검거  살인발생    절도검거    절도발생    폭력검거    폭력발생
구
강남구   413.0  516.0  42.0  39.0   5.0   5.0  1918.0  3587.0  3527.0  4002.0
강동구   152.0  160.0  13.0  14.0   5.0   4.0   902.0  1754.0  2201.0  2530.0
강북구   159.0  217.0   4.0   5.0   6.0   7.0   672.0  1222.0  2482.0  2778.0
강서구   239.0  275.0  10.0  10.0  10.0   9.0  1070.0  1952.0  2768.0  3204.0
관악구   264.0  322.0  10.0  12.0   7.0   6.0   937.0  2103.0  2707.0  3235.0
광진구   234.0  279.0   6.0  11.0   4.0   4.0  1057.0  2636.0  2011.0  2392.0
구로구   181.0  273.0  13.0  10.0   9.0   9.0   861.0  1910.0  2680.0  3164.0
금천구   143.0  175.0   7.0   7.0   6.0   6.0   654.0  1264.0  1946.0  2193.0
노원구   142.0  159.0   9.0   6.0   6.0   5.0   740.0  1857.0  2124.0  2516.0
도봉구   121.0  123.0   5.0   5.0   3.0   3.0   492.0   866.0  1309.0  1441.0
동대문구  158.0  190.0  12.0  10.0   5.0   5.0  1071.0  1940.0  2377.0  2642.0
동작구   149.0  325.0   7.0   7.0   6.0   8.0   554.0  1226.0  1444.0  1661.0
마포구   320.0  399.0   7.0   4.0   4.0   4.0   940.0  2527.0  2500.0  2939.0
서대문구  147.0  175.0   4.0   5.0   7.0   6.0   752.0  1503.0  1644.0  1976.0
서초구   271.0  428.0  10.0  13.0   5.0   5.0  1107.0  2205.0  2029.0  2338.0
성동구    78.0  104.0   5.0   3.0   5.0   4.0   896.0  1296.0  1408.0  1619.0
성북구   117.0  154.0   8.0   8.0   3.0   4.0   725.0  1470.0  1819.0  2108.0
송파구   184.0  234.0  12.0  15.0   8.0   9.0  1048.0  2543.0  2808.0  3289.0
양천구   108.0  131.0   7.0   7.0   5.0   5.0   755.0  1719.0  1918.0  2250.0
영등포구  225.0  356.0  14.0  19.0  13.0  13.0   940.0  2341.0  3007.0  3593.0
용산구   214.0  251.0  10.0   9.0   4.0   4.0   599.0  1489.0  2008.0  2384.0
은평구   142.0  156.0   7.0   9.0   6.0   6.0   890.0  1666.0  2308.0  2664.0
종로구   177.0  238.0   9.0  12.0   2.0   6.0   768.0  1940.0  1977.0  2263.0
중구    148.0  198.0   7.0   8.0   3.0   3.0   914.0  2150.0  1996.0  2225.0
중랑구   150.0  164.0  14.0  14.0   7.0   8.0  1052.0  1691.0  2712.0  3164.0

In [53]:
crime_gu['강도검거']/crime_gu['강도발생']

구
강남구     1.076923
강동구     0.928571
강북구     0.800000
강서구     1.000000
관악구     0.833333
광진구     0.545455
구로구     1.300000
금천구     1.000000
노원구     1.500000
도봉구     1.000000
동대문구    1.200000
동작구     1.000000
마포구     1.750000
서대문구    0.800000
서초구     0.769231
성동구     1.666667
성북구     1.000000
송파구     0.800000
양천구     1.000000
영등포구    0.736842
용산구     1.111111
은평구     0.777778
종로구     0.750000
중구      0.875000
중랑구     1.000000
dtype: float64

In [68]:
crime_gu[['강도검거', '살인검거']].div(crime_gu['강도발생'], axis=0)

KeyError: "['강도검거' '살인검거'] not in index"

In [67]:
num = ['강간검거', '강도검거', '살인검거', '절도검거', '폭력검거']
den = ['강간발생', '강도발생', '살인발생', '절도발생', '폭력발생']

crime_gu[num].div(crime_gu[den].values)

KeyError: "['강도검거' '살인검거' '절도검거' '폭력검거'] not in index"

In [63]:
target = ['강간검거율', '강도검거율', '살인검거율', '절도검거율', '폭력검거율']
num = ['강간검거', '강도검거', '살인검거', '절도검거', '폭력검거']
den = ['강간발생', '강도발생', '살인발생', '절도발생', '폭력발생']

crime_gu[target] = crime_gu[num].div(crime_gu[den].values)*100
crime_gu.head()

KeyError: "['강도검거' '살인검거' '절도검거' '폭력검거'] not in index"

In [60]:
crime_gu = crime_gu.drop(columns=num)
crime_gu.head()

      강간검거   강간발생  강도발생  살인발생    절도발생    폭력발생
구
강남구  413.0  516.0  39.0   5.0  3587.0  4002.0
강동구  152.0  160.0  14.0   4.0  1754.0  2530.0
강북구  159.0  217.0   5.0   7.0  1222.0  2778.0
강서구  239.0  275.0  10.0   9.0  1952.0  3204.0
관악구  264.0  322.0  12.0   6.0  2103.0  3235.0

In [61]:
crime_gu[target] > 100

KeyError: "['강간검거율' '강도검거율' '살인검거율' '절도검거율' '폭력검거율'] not in index"