In [26]:
import numpy as np
import pandas as pd

crime_raw_data = pd.read_csv('../data/Crime_data.csv', encoding='euc-kr')

     강간검거   강간발생  강도검거  강도발생  살인검거  살인발생    절도검거    절도발생    폭력검거    폭력발생
구분
강남  269.0  339.0  26.0  24.0   3.0   3.0  1129.0  2438.0  2096.0  2336.0
강동  152.0  160.0  13.0  14.0   5.0   4.0   902.0  1754.0  2201.0  2530.0
강북  159.0  217.0   4.0   5.0   6.0   7.0   672.0  1222.0  2482.0  2778.0
강서  239.0  275.0  10.0  10.0  10.0   9.0  1070.0  1952.0  2768.0  3204.0
관악  264.0  322.0  10.0  12.0   7.0   6.0   937.0  2103.0  2707.0  3235.0

In [27]:
crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

In [28]:
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 4 columns):
구분      310 non-null object
죄종      310 non-null object
발생검거    310 non-null object
건수      310 non-null float64
dtypes: float64(1), object(3)
memory usage: 2.0+ MB

In [29]:
crime_raw_data['죄종'].unique()

array(['살인', '강도', '강간', '절도', '폭력', nan], dtype=object)

In [31]:
crime_raw_data['죄종'].isnull()

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
65504     True
65505     True
65506     True
65507     True
65508     True
65509     True
65510     True
65511     True
65512     True
65513     True
65514     True
65515     True
65516     True
65517     True
65518     True
65519     True
65520     True
65521     True
65522     True
65523     True
65524     True
65525     True
65526     True
65527     True
65528     True
65529     True
65530     True
65531     True
65532     True
65533     True
Name: 죄종, Length: 65534, dtype: bool

In [32]:
crime_raw_data[crime_raw_data['죄종'].isnull()]

        구분   죄종 발생검거  건수
310    NaN  NaN  NaN NaN
311    NaN  NaN  NaN NaN
312    NaN  NaN  NaN NaN
313    NaN  NaN  NaN NaN
314    NaN  NaN  NaN NaN
315    NaN  NaN  NaN NaN
316    NaN  NaN  NaN NaN
317    NaN  NaN  NaN NaN
318    NaN  NaN  NaN NaN
319    NaN  NaN  NaN NaN
320    NaN  NaN  NaN NaN
321    NaN  NaN  NaN NaN
322    NaN  NaN  NaN NaN
323    NaN  NaN  NaN NaN
324    NaN  NaN  NaN NaN
325    NaN  NaN  NaN NaN
326    NaN  NaN  NaN NaN
327    NaN  NaN  NaN NaN
328    NaN  NaN  NaN NaN
329    NaN  NaN  NaN NaN
330    NaN  NaN  NaN NaN
331    NaN  NaN  NaN NaN
332    NaN  NaN  NaN NaN
333    NaN  NaN  NaN NaN
334    NaN  NaN  NaN NaN
335    NaN  NaN  NaN NaN
336    NaN  NaN  NaN NaN
337    NaN  NaN  NaN NaN
338    NaN  NaN  NaN NaN
339    NaN  NaN  NaN NaN
...    ...  ...  ...  ..
65504  NaN  NaN  NaN NaN
65505  NaN  NaN  NaN NaN
65506  NaN  NaN  NaN NaN
65507  NaN  NaN  NaN NaN
65508  NaN  NaN  NaN NaN
65509  NaN  NaN  NaN NaN
65510  NaN  NaN  NaN NaN
65511  NaN  NaN  NaN NaN
65512  NaN  NaN  NaN NaN
65513  NaN  NaN  NaN NaN
65514  NaN  NaN  NaN NaN
65515  NaN  NaN  NaN NaN
65516  NaN  NaN  NaN NaN
65517  NaN  NaN  NaN NaN
65518  NaN  NaN  NaN NaN
65519  NaN  NaN  NaN NaN
65520  NaN  NaN  NaN NaN
65521  NaN  NaN  NaN NaN
65522  NaN  NaN  NaN NaN
65523  NaN  NaN  NaN NaN
65524  NaN  NaN  NaN NaN
65525  NaN  NaN  NaN NaN
65526  NaN  NaN  NaN NaN
65527  NaN  NaN  NaN NaN
65528  NaN  NaN  NaN NaN
65529  NaN  NaN  NaN NaN
65530  NaN  NaN  NaN NaN
65531  NaN  NaN  NaN NaN
65532  NaN  NaN  NaN NaN
65533  NaN  NaN  NaN NaN

[65224 rows x 4 columns]

In [33]:
crime_raw_data = crime_raw_data[crime_raw_data['죄종'].notnull()]
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 310 entries, 0 to 309
Data columns (total 4 columns):
구분      310 non-null object
죄종      310 non-null object
발생검거    310 non-null object
건수      310 non-null float64
dtypes: float64(1), object(3)
memory usage: 12.1+ KB

In [35]:
crime_station = crime_raw_data.pivot_table(
    crime_raw_data, index=["구분"], columns=["죄종","발생검거"], 
    aggfunc=[np.sum])

crime_raw_data.head()

   구분  죄종 발생검거     건수
0  중부  살인   발생    2.0
1  중부  살인   검거    2.0
2  중부  강도   발생    3.0
3  중부  강도   검거    3.0
4  중부  강간   발생  141.0

In [36]:
crime_station.columns

MultiIndex(levels=[['sum'], ['건수'], ['강간', '강도', '살인', '절도', '폭력'], ['검거', '발생']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 1, 1, 2, 2, 3, 3, 4, 4], [0, 1, 0, 1, 0, 1, 0, 1, 0, 1]],
           names=[None, None, '죄종', '발생검거'])

In [38]:
crime_station.columns = crime_station.columns.droplevel([0,1])
crime_station.columns

ValueError: Must pass non-zero number of levels/labels

In [39]:
crime_station['강도', '검거']

구분
강남     26.0
강동     13.0
강북      4.0
강서     10.0
관악     10.0
광진      6.0
구로     13.0
금천      7.0
남대문     4.0
노원      9.0
도봉      5.0
동대문    12.0
동작      7.0
마포      7.0
방배      5.0
서대문     4.0
서부      2.0
서초      5.0
성동      5.0
성북      3.0
송파     12.0
수서     16.0
양천      7.0
영등포    14.0
용산     10.0
은평      5.0
종로      3.0
종암      5.0
중랑     14.0
중부      3.0
혜화      6.0
Name: (강도, 검거), dtype: float64

In [40]:
crime_station.head()

죄종       강간           강도          살인           절도              폭력
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0

In [42]:
tmp = crime_station.columns.get_level_values(0) + crime_station.columns.get_level_values(1)
crime_station.columns = tmp
crime_station.head()

     강간검거   강간발생  강도검거  강도발생  살인검거  살인발생    절도검거    절도발생    폭력검거    폭력발생
구분
강남  269.0  339.0  26.0  24.0   3.0   3.0  1129.0  2438.0  2096.0  2336.0
강동  152.0  160.0  13.0  14.0   5.0   4.0   902.0  1754.0  2201.0  2530.0
강북  159.0  217.0   4.0   5.0   6.0   7.0   672.0  1222.0  2482.0  2778.0
강서  239.0  275.0  10.0  10.0  10.0   9.0  1070.0  1952.0  2768.0  3204.0
관악  264.0  322.0  10.0  12.0   7.0   6.0   937.0  2103.0  2707.0  3235.0